/* Color definition for color schemes */

/*https://coolors.co/palette/160f29-246a73-368f8b-f3dfc1-ddbea8*/
* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrains Mono, Siji;
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.5

}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}


#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #0B486B;
    color: #ffffff;
}

#battery {
    background-color: #3B8686;
    color: #ffffff;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #3B8686;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#disk {
    background-color: #964B00;
}

#network {
    background-color: #A8DBA8;
    color: #000000;
}

#pulseaudio {
    background-color: #CFF09E;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #ffffff;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#custom-power {
  background-color: #D3869B;
}
#tray {
    background-color: #EBDDB2;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#mpd {
    background-color: #ffffff;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #ffffff;
}

#mpd.stopped {
    background-color: #ffffff;
}

#mpd.paused {
    background-color: #ffffff;
}

.custom-spotify {
    padding: 0 10px;
    margin: 0 4px;
    background-color: #1DB954;
    color: @dark;
}
#custom-keyboard-layout {
    background: #79BD9A;
    color: #000000;
    min-width: 16px;
}

#custom-arrow1,
#custom-arrow2,
#custom-arrow3,
#custom-arrow4,
#custom-arrow5,
#custom-arrow6,
#custom-arrow7,
#custom-arrow8,
#custom-arrow9 {
	font-size: 20px
}

#custom-arrow1 {
	color: #ffffff;
	background: transparent;
}

#custom-arrow2 {
	color: #CFF09E;
	background: transparent;
}

#custom-arrow3 {
	color: #A8DBA8;
	background: #CFF09E;
}

#custom-arrow4 {
	color: #79BD9A;
	background: #A8DBA8;
}

#custom-arrow5 {
	color: #3B8686;
	background: #79BD9A;
}

#custom-arrow6 {
	color: #0B486B;
	background: #3B8686;
}

#custom-arrow7 {
	color: #EBDDB2;
	background: #D3869B;
}
#custom-arrow8 {
	color: #D3869B;
	background: #0B486B;
}
